body{
    font-family: 'Droid Serif', serif;
    font-size: 14px;
    color: #2f2f2f;
    background-color: #f9f7f1;
}

header{
    font-family: 'Playfair Display', serif;
    font-weight: 900;
    font-size: 70px;
    text-transform: uppercase;
    display: inline-block;
    line-height: 72px;
    margin-bottom: 20px;

}

head{
    text-align: center;
    position: relative;


}
